@model IEnumerable<Kategori>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid">
    <div class="row">
        <a asp-controller="Kategori" asp-action="Create" class="btn btn-success btn-icon-split btn-lg">
            <span class="icon text-white-50">
                <i class="fas fa-plus"></i>
            </span>
            <span class="text">Kategori Ekle</span>
        </a>
    </div>
    </br>
    
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Kategoriler</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Kategori Adı</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Kategori Adı</th>
                            <th>İşlemler</th>

                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            
                      
                        <tr>
                                
                            <td>@item.name</td>
                                <td><a asp-controller="Kategori" asp-action="Update" asp-route-id="@item.id"><i class="fas fa-pen"></i></a> | <a asp-action="Delete" asp-route-id="@item.id"><i class="fas fa-trash"></i></a></td>

                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




